@CHARSET "ISO-8859-1";

body{
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #f3f3e9;
}

#menu-administracao{
	float:left;
	display:inline-block;
	margin-right: 15px;
	padding: 20px;
	background-color: #ddd;
}

#menu-administracao ul{ padding: 0px; margin: 0px;}

#menu-administracao ul li{
	list-style: none;
	padding-top: 4px;
	padding-bottom: 4px;
	border-bottom: #000 dotted 1px;
}

#menu-administracao ul li a, #menu-administracao a{text-decoration: none; color:#000;}

/*data 19.05.2012 */

#form-cadastro form fieldset{
	width: 525px;
	border: none;
	padding-top:25px;
}

#form-cadastro form legend{
	font-size: 16px;
}

#form-cadastro form label{
	width: 100%;
	display: inline-block;
}

#form-cadastro form input, #form-cadastro textarea{
	padding:4px;
	boder:#ccc solid 2px;
	width: 100%;
}

#form-cadastro form input[type=submit], #form-cadastro form input[type=reset]{
	width: 100px;
}

/* Listar Categoria */
#lista-categorias{
	width: 545px;
	background-color: #ddd;
	padding: 20px;
	margin-top: 20px;
	margin-left: 255px;
}


#lista-categorias ul{
	margin:0px;
	padding:0px;
}

#lista-categorias ul li{
	border-bottom: #aaa dotted 1px; 
	list-style: none;
	width: 100%;
	padding-bottom: 5px;
}

#lista-categoria ul li a{
	text-decoration: none;
	color:#000;	
}
