<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="CodeIgniter rewrite" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                        <conditions logicalGrouping="MatchAll">
                            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        </conditions>
                        <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <handlers> 
            <remove name="PHP54_via_FastCGI" />
            <add name="PHP54_via_FastCGI" path="*.php"
                   verb="GET, PUT, POST, DELETE, HEAD" 
                   modules="FastCgiModule" 
                   scriptProcessor="D:\Program Files (x86)\PHP\v5.4\php-cgi.exe"
                   resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>